.studentInfo {
    width: 100%;
    margin-top: 10px;
    background-color: white;
}

.studentInfoTable {
    width: 100%;
    border-collapse: collapse;
    border-width: 2px;
}

.studentInfoHeader {
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    background-color: rgba(23, 103, 162, 0.5);
}

.tableHeader {
    font-family: "Microsoft YaHei UI";
    font-size: 20px;
    text-align: center;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(23, 103, 162, 0.8);
    color: white;
}

.back {
    float: right;
    margin-right: 20px;
}

.addColor {
    background-color: rgba(23, 103, 162, 0.1);
}