.timeTableInfo {
    width: 100%;
    margin-top: 10px;
    background-color: white;
}

.timeTableHeader, .tableHeader {
    font-family: "Microsoft YaHei UI";
    font-size: 20px;
    text-align: center;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(23, 103, 162, 0.8);
    color: white;
}

.tableHeader {
    background-color: rgba(23, 103, 162, 0.5);
    color: black;
}

.back {
    float: right;
    margin-right: 20px;
}

.timeTable01 {
    width: 20%;
    float: left;
    border-collapse: collapse;
    border-width: 2px;
    font-size: 18px;
}

.timeTable02 {
    border-left: none;
}

.tablebody {
    height: 100px;
}