.personalTable {
    float: left;
    border-collapse: collapse;
    border-width: 2px;
    margin-right: 10px;
}

.tableHeader {
    background-color: rgba(23, 103, 162, 0.5);
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.infoItem {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.tableHeader {
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    text-align: center;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    background-color: rgba(23, 103, 162, 0.8);
    color: white;
}

.personalInfo {
    position: absolute;
    left: 50%;
    margin-left: -170px;
}

.program {
    width: 80px;
}

.content {
    width: 260px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 30px;
}

.homeAddress {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
}



.buttonA ,.buttonB {
    display: block;
    position: absolute;
    left: 50%;
    top: 370px;
    width: 150px;
    height: 40px;
    font-size: 16px;
}

.buttonA {
    margin-left: -170px;
}

.buttonB {
    margin-left: 24px;
}