<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统-任课教师：[[${teacher.name}]]</title>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>

<style>

    .msg {
        padding-top: 40px;
        padding-left: 125px;
        font-size: 20px;
    }

    .footer {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 9;
        height: 80px;
        bottom: 0;
    }

</style>

<body>

<div class="header">
    <span class="hello01">学生信息管理系统</span>
    <span class="hello02">[[${teacher.name}]]老师，欢迎您！</span>
</div>

<div class="main">
    <!--    班级信息-->
    <div class="clazz">
        <h2>您的班级</h2>
        <ul th:each="clazz:${clazzes}">
            <li>
                [[${clazz.name}]]
            </li>
        </ul>
    </div>

    <div class="msg">
        <p>密码修改成功，<span id="sec"></span>秒后返回首页...</p>
        <p>若长时间没有相应，请点击<a th:href="@{index.html(teacherId=${teacher.id})}">此处</a>。</p>
    </div>

</div>

<footer class="footer">
    <div>
        <p style="float: left">&copy; <a href="https://blog.csdn.net/weixin_46192593" target="_blank" style="color: black;text-decoration: none;">blog.csdn.net/weixin_46192593</a> 2020</p>
        <p style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{~/about/zhinushannan.html}" target="_blank">关于我们</a></p>
        <p style="float: right">
            Powered by 治怒善男
        </p>
    </div>
</footer>


</body>

<script th:inline="javascript">

    function time(){
        i = 3
        document.getElementById("sec").innerText = i
        timer01 = setInterval(function () {
            i--
            document.getElementById("sec").innerText = i
            if (i < 0) {
                clearInterval(timer01)
            }
        }, 1000)
    }

    window.onload = function () {
        teacherid = [[${teacher.id}]]
        setTimeout("location.href='index.html?teacherId=' + teacherid",3000)
        time()
    }
</script>

</html>