.title {
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: rgba(23, 103, 162, 0.5);
    margin-bottom: 20px;
}

input {
    width: 200px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
}

button {
    width: 150px;
    height: 30px;
    margin-left: 75px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.toCenter {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.clazz {
    margin-bottom: 10px;
}

.change {
    width: 300px;
    height: 330px;
    box-sizing: border-box;
    background-color: rgba(23, 103, 162, 0.3);
    float: left;
}