<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" href="">
</head>
<body>
<div id="box">
    <img th:src="@{/img/1.jpg}">
    <img th:src="@{/img/2.jpg}">
    <img th:src="@{/img/3.jpg}">
    <img th:src="@{/img/4.jpg}">
    <img th:src="@{/img/5.jpg}">
    <img th:src="@{/img/6.jpg}">
    <img th:src="@{/img/7.jpg}">
    <img th:src="@{/img/8.jpg}">
    <img th:src="@{/img/9.jpg}">
    <img th:src="@{/img/10.jpg}">

</div>
</body>
</html>

